body {
    background: gray;
    width: 600px;
}

.container {
    margin-top: 40px;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: repeat(3, auto); */
    /* grid-auto-rows: auto; */
    background: blue;
    width: 200px;
    /* height: 600px;  */
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    grid-template-areas: "header header header"
                        "menu main right"
                        "footer footer footer";
}

.grid-item {
    /* width: 20px; */
    background: cyan;
    text-align: center;
}

.item-1 { grid-area: header; }
.item-2 { grid-area: menu; }
.item-3 { grid-area: main; }
.item-4 { grid-area: right; }
.item-5 { grid-area: footer; }
